@import url('https://fonts.googleapis.com/css?family=Anton|Fjalla+One|Oxygen|Quicksand&display=swap');

*{
  box-sizing:border-box;
  margin:0;
  padding:0;
  font-size: 62.5%;
  font-size:1.2rem;
  font-family: 'Quicksand', sans-serif;
  /* That is a clean font.. will use in the future */
}

.App{
  width:100%;
  background-color:#F5f5f5;
  /* background-color: #be9764;  NO THANK YOU */
  padding-top:269px;
  position:relative;
}

.search-bar{
  display:flex;
  align-items:center;
  width:100%;
  height:50px;
  background-color:#0b3c5d;
  border-bottom:1px solid #000;
  padding:5px 10px;
}

.search-form{
  width:100%;
  padding:0 10px;
}


.search-form input{
  width:75%;
  height:40px;
  background:#0005;
  color:#fff;
  border:none;
  outline:none;
  padding:0 20px;
  border-top-left-radius:15px;
  font-size:1rem;
}

.search-form button{
  width:25%;
  height:40px;
  background-color:#000a;
  color:#fff;
  border:none;
  outline:none;
  border-bottom-right-radius:15px;
  font-size:1rem;
}


.search-form button:hover{
  background-color:#000c;
  cursor:pointer;
}


.gh-card{
  background-color:#fff;
  height:100%;
  width:100%;
  display:flex;
  align-items: center;
  padding:10px;
}

.gh-user{
  width:250px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  margin-right:20px;
  height:100%;
}

.gh-user-login{
  font-size:1.2rem;
  margin:10px 0;
  font-family: 'Fjalla One', sans-serif;
}

.gh-avatar{
  display:flex;
  align-items: center;
  justify-content: center;
  height:150px;
  width:150px;
  border-radius:50%;
  overflow: hidden;
}

.gh-avatar-img{
  width:134%;
}

.gh-avatar-img:hover{
  cursor:pointer;
}

.gh-user-info{
  font-size:0.8rem;
  color:#000;
  font-weight:600;
}

.gh-user-info p{
  display:inline;
  font-size:0.8rem;
  color:#000a;
}

.gh-user-info a{
  font-size:0.8rem;
  color:#000a;
}

.gh-find-components{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  background-color:#fff;
  border-bottom: 2px solid #0003;
  overflow-y:hidden;
  z-index:100;
}

.gh-website{
  text-decoration:none;
  color:#000;

}

.logo{
  display:flex;
  align-items:center;
  justify-content: center;
  width:200px;
  text-align: center;
  font-size: 1.2rem;
  font-weight:400;
  color:white;
  font-family: 'Fjalla One', sans-serif;
}

.gh-followers-list{
  max-width:1300px;
  min-width:600px;
  display:flex;
  flex-wrap: wrap;
  padding:10px;
  margin:0 auto;
}

.gh-follower-card{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
  width:300px;
  height:300px;
  margin:10px;
  background-color:#fff;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  border: 2px solid #0001;
}

.gh-follower-login{
  font-family: 'Fjalla One', sans-serif;
  text-align:center;
}

.gh-follower-avatar{
  width:200px;
  cursor:pointer;
}

.gh-follower-avatar img{
  width:100%;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
}

.gh-follower-card p{
  font-size:0.8rem;
}

::-webkit-scrollbar{
  width:12px;
  
}

::-webkit-scrollbar-track{
  background-color:#0b3c5d;
  border-left:1px solid #000a;
}

::-webkit-scrollbar-thumb{
  background-color:#000a;
}

.gh-received-info{
  color:#0008;
  font-size:1rem;
  font-weight:500;
  margin-bottom:12px;
}

.gh-follower-link{
  text-decoration:none;
  color:#000D;
  font-size:1.3rem;
  font-weight:400;
}

footer{
  display:flex;
  align-items: center;
  justify-content: flex-end;
  width:100%;
  height:50px;
}

footer h2{
  font-weight:400;
  margin:0 20px;
  color:#0004;
}

footer h2 a{
  color:#000a;
  text-decoration: none;
}

.moving-video{
  position:absolute;
  top:0;
  left:0;
  z-index:1000;
  width:600px;
  height:600px;
  overflow:hidden;
  position:relative;
  border-radius:50%;
  border:none;
  outline:none;
}

.message{
  background-color: #000a;
  height:100px;
  position:absolute;
  top:200px;
  font-size: 2rem;
  font-weight:400;
  left:0;
  width:100%;
  color:#fff;
  text-align:center;
}

.message h2{
  font-size:2rem;
  font-weight:500;
}

.the-video{
  height:600px;
  margin-left:-250px;
}

.call-to-action{
  display:flex;
  align-items: center;
  justify-content: center;
  background-color:#0001;
  width:100%;
  height:80px;
  border-bottom-left-radius:200px;
  border-bottom-right-radius:200px;
  border:3px solid #fff;
}

.call-to-action h1{
  color:#000a;
  font-weight:300;
  font-size:2.3rem;
  font-family: 'Fjalla One', sans-serif;
}